Repository Project-0123/0123, pull requests merged in 2024-02, with the labels that each got.

#25 #24 Feat: 구현 - Web page routing
  front/src/app/alram/page.tsx
  front/src/app/create/[wordseed]/page.tsx
  front/src/app/feed/[feed_id]/page.tsx
  front/src/app/feedlist/page.tsx
  front/src/app/follow/[user_id]/page.tsx
  front/src/app/modify/[feed_id]/page.tsx
  front/src/app/page.tsx
  front/src/app/profile/[user_id]/page.tsx
  front/src/app/search/[[...keyword]]/page.tsx
  front/src/app/settings/page.tsx
  front/src/app/user-info/page.tsx
  front/src/app/wordlist/page.tsx
  front/src/app/wordseed/[[...wordseed]]/page.tsx
Labels: 🌼Front

#33 Feat/#26 button component
  front/public/icons/beforeFollow.svg
  front/public/icons/beforeLike.svg
  front/src/components/Button/Button.module.scss
  front/src/components/Button/Button.tsx
  front/src/components/Icon/Icon.tsx
Labels: 🌼Front, 😎Feat

#34 Feat/#27 wordseed component
  front/src/components/WordSeed/WordSeed.module.scss
  front/src/components/WordSeed/WordSeed.tsx
  front/src/components/index.ts
Labels: 🌼Front, 😎Feat

#37 #35 Fix: 수정 - 표시 영역 속성 width 값 오류 수정
  front/src/app/layout.tsx
Labels: 🌼Front, 🛠Fix

#38 #36 Fix: 수정 - Global SCSS @font line-height 속성 누락 수정
  front/src/styles/mixins/_font.scss
Labels: 🌼Front, 🛠Fix

#40 #39 Fix: 수정 - Global SCSS backgroundColor 수정
  front/src/styles/base/base.scss
Labels: 🌼Front, 🛠Fix

#42 #22 Feat: 구현 - WordSeedList Component 구현
  front/src/app/wordlist/page.tsx
  front/src/components/WordSeed/WordSeed.module.scss
  front/src/components/WordSeedList/WordSeedList.module.scss
  front/src/components/WordSeedList/WordSeedList.tsx
  front/src/components/index.ts
Labels: 🌼Front, 😎Feat

#43 Feat/#30 artist card component
  front/src/app/follow/[user_id]/page.tsx
  front/src/components/ArtistCard/ArtistCard.module.scss
  front/src/components/ArtistCard/ArtistCard.tsx
  front/src/components/index.ts
Labels: 🌼Front, 😎Feat

#44 #29: navbar component 구현
  front/package-lock.json
  front/package.json
  front/public/icons/menu.svg
  front/public/icons/search.svg
  front/public/icons/upDownArrow.svg
  front/src/app/layout.tsx
  front/src/app/profile/[user_id]/page.tsx
  front/src/components/Button/Button.module.scss
  front/src/components/Button/Button.tsx
  front/src/components/Button/back-button.tsx
  front/src/components/Button/create-feed-button.tsx
  front/src/components/Button/filter-button.tsx
  front/src/components/Button/menu-button.tsx
  front/src/components/Button/search-button.tsx
  front/src/components/Icon/Icon.tsx
  front/src/components/Navbar/Navbar.tsx
  front/src/components/Navbar/alram-navbar.tsx
  front/src/components/Navbar/create-category/create-category.module.scss
  front/src/components/Navbar/create-category/create-category.tsx
  front/src/components/Navbar/create-navbar.tsx
  front/src/components/Navbar/feed-navbar.tsx
  front/src/components/Navbar/feedlist-navbar.tsx
  front/src/components/Navbar/follow-navbar.tsx
  front/src/components/Navbar/include-menu/include-menu.tsx
  front/src/components/Navbar/modify-navbar.tsx
  front/src/components/Navbar/navbar.module.scss
  front/src/components/Navbar/profile-navbar.tsx
  front/src/components/Navbar/search-input/search-input.module.scss
  front/src/components/Navbar/search-input/search-input.tsx
  front/src/components/Navbar/search-navbar.tsx
  front/src/components/Navbar/settings-navbar.tsx
  front/src/components/Navbar/user-info-navbar.tsx
  front/src/components/Navbar/wordlist-navbar.tsx
  front/src/components/Navbar/wordseed-navbar.tsx
  front/src/components/filter/filter.module.scss
  front/src/components/filter/filter.tsx
  front/src/components/filter/sort-switch.tsx
  front/src/stores/profile-filter.ts
  front/src/stores/search-filter.ts
  front/src/stores/search.ts
  front/src/styles/base/base.scss
Labels: 🌼Front, 🎨Style, 😎Feat

#49 Component 오류 수정
  front/src/app/follow/[user_id]/page.tsx
  front/src/components/ArtistCard/ArtistCard.module.scss
  front/src/components/ArtistCard/ArtistCard.tsx
  front/src/components/WordSeed/WordSeed.tsx
  front/src/utils/numberUtils.ts
Labels: 🌼Front, 🛠Fix

#50 #48: css fix
  front/src/components/Button/Button.module.scss
  front/src/components/Icon/Icon.tsx
  front/src/components/Navbar/navbar.module.scss
  front/src/components/Navbar/search-input/search-input.module.scss
  front/src/components/filter/filter.module.scss
  front/src/components/filter/sort-switch.tsx
  front/src/components/index.ts
  front/src/styles/base/base.scss
  front/src/styles/mixins/_font.scss
Labels: 🛠Fix

#56 [Front] - Feat: Content Card 컴포넌트
  front/next.config.js
  front/src/app/profile/[user_id]/page.tsx
  front/src/components/ContentCard/ContentCard.module.scss
  front/src/components/ContentCard/ContentCard.tsx
  front/src/components/ContentCardList/ContentCardList.module.scss
  front/src/components/ContentCardList/ContentCardList.tsx
  front/src/components/index.ts
  front/src/styles/mixins/_shadow.scss
Labels: 🌼Front, 😎Feat

#59 [Front] - Feat: Profile Header 구현
  front/public/icons/profileEdit.svg
  front/src/app/profile/[user_id]/page.tsx
  front/src/app/profile/_component/Header.module.scss
  front/src/app/profile/_component/Header.tsx
  front/src/components/Icon/Icon.tsx
Labels: 🌼Front, 😎Feat

#62 #53: 엔티티 구축
  back/wordseed/.gitignore
  back/wordseed/src/main/java/com/spring/wordseed/entity/BaseTimeEntity.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/BookMark.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/Comment.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/Follow.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/Post.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/PostLiked.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/User.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/UserInfo.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/Word.java
  back/wordseed/src/main/java/com/spring/wordseed/enu/Informable.java
  back/wordseed/src/main/java/com/spring/wordseed/enu/PostAlign.java
  back/wordseed/src/main/java/com/spring/wordseed/enu/PostType.java
  back/wordseed/src/main/java/com/spring/wordseed/enu/PostVisibility.java
  back/wordseed/src/main/java/com/spring/wordseed/enu/UserType.java
  back/wordseed/src/main/resources/application.yml
  back/wordseed/src/main/resources/properties/.gitkeep
  back/wordseed/src/main/resources/properties/env.properties
Labels: 🚀Back

#67 #64: feed list UI 구현
  front/package-lock.json
  front/package.json
  front/src/app/feedlist/feedlist.module.scss
  front/src/app/feedlist/page.tsx
  front/src/app/layout.tsx
  front/src/components/Navbar/navbar.module.scss
Labels: 🌼Front, 😎Feat

#69 Fix: 수정 - button 컴포넌트 wide type 추가
  front/src/app/profile/[user_id]/page.tsx
  front/src/components/Button/Button.module.scss
  front/src/components/Button/Button.tsx
  front/src/components/index.ts
Labels: 🌼Front, 🛠Fix

#80 #74: 유저 정보 조회 API
  back/wordseed/src/main/java/com/spring/wordseed/WordseedApplication.java
  back/wordseed/src/main/java/com/spring/wordseed/config/WebConfig.java
  back/wordseed/src/main/java/com/spring/wordseed/controller/AccountController.java
  back/wordseed/src/main/java/com/spring/wordseed/controller/UserController.java
  back/wordseed/src/main/java/com/spring/wordseed/dto/in/CreateUserInDTO.java
  back/wordseed/src/main/java/com/spring/wordseed/dto/out/ReadUserOutDTO.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/BaseTimeEntity.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/User.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/UserInfo.java
  back/wordseed/src/main/java/com/spring/wordseed/exception/GlobalExceptionHandler.java
  back/wordseed/src/main/java/com/spring/wordseed/interceptor/AuthInterceptor.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/UserInfoRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/UserRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/service/UserService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/UserServiceImpl.java
Labels: 🚀Back, 😎Feat

#82 #75: PostService 구현 및 QueryDSL 초기 환경 세팅
  back/wordseed/.gitignore
  back/wordseed/build.gradle
  back/wordseed/src/main/java/com/spring/wordseed/controller/PostController.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/BaseTimeEntity.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/BookMark.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/Comment.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/Follow.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/Post.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/PostLiked.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/User.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/UserInfo.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/Word.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/PostRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/WordRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/service/PostService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/PostServiceImpl.java
  back/wordseed/src/main/resources/application.yml
Labels: 🚀Back, 😎Feat, :book: Init

#89 #83: PostService 중 readPosts 구현
  back/wordseed/src/main/java/com/spring/wordseed/controller/PostController.java
  back/wordseed/src/main/java/com/spring/wordseed/dto/out/ReadPostOutDTO.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/PostRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/CustomPostRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/impl/CustomPostRepoImpl.java
  back/wordseed/src/main/java/com/spring/wordseed/service/PostService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/PostServiceImpl.java
Labels: 🚀Back, 😎Feat

#90 #87: PostService 중 readPostByPostId 메서드 구현
  back/wordseed/src/main/java/com/spring/wordseed/controller/PostController.java
  back/wordseed/src/main/java/com/spring/wordseed/dto/out/ReadPostByPostIdOutDTO.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/CustomPostRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/repo/CustomPostRepoImpl.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/PostServiceImpl.java
Labels: 🚀Back, 😎Feat

#91 #88: PostService 중 updatePost메서드 구현
  back/wordseed/src/main/java/com/spring/wordseed/controller/PostController.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/impl/CustomPostRepoImpl.java
  back/wordseed/src/main/java/com/spring/wordseed/service/PostService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/PostServiceImpl.java
Labels: 🚀Back, 😎Feat

#92 #81: 유저 정보 수정 API 구현
  back/wordseed/src/main/java/com/spring/wordseed/controller/UserController.java
  back/wordseed/src/main/java/com/spring/wordseed/dto/in/UpdateUserInDTO.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/User.java
  back/wordseed/src/main/java/com/spring/wordseed/exception/GlobalExceptionHandler.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/UserRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/CustomUserRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/impl/CustomUserRepoImpl.java
  back/wordseed/src/main/java/com/spring/wordseed/service/UserService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/UserServiceImpl.java
Labels: 🚀Back, 😎Feat

#95 #94: repo/custom 패키지 긴급 변경
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/repo/CustomPostRepoImpl.java
Labels: 🚀Back, 🛠Fix

#98 #86: Web alram page 컴포넌트 구현
  front/src/app/alram/_component/alram-container.tsx
  front/src/app/alram/_component/alram-item.tsx
  front/src/app/alram/_component/alram-wrapper.tsx
  front/src/app/alram/_component/alram.module.scss
  front/src/app/alram/_component/index.ts
  front/src/app/alram/page.tsx
  front/src/app/feedlist/feedlist.module.scss
  front/src/stores/comment-toggle.ts
  front/src/styles/variables/_font.scss
Labels: 🌼Front, 😎Feat

#100 #99: 개인정보수정 페이지 구현
  front/src/app/user-info/_component/info-item.tsx
  front/src/app/user-info/_component/info-wrapper.tsx
  front/src/app/user-info/_component/user-info.module.scss
  front/src/app/user-info/_component/withdrawal.tsx
  front/src/app/user-info/hooks/user-info-classification.tsx
  front/src/app/user-info/page.tsx
  front/src/stores/user-info.ts
Labels: 🌼Front, 😎Feat

#105 Feat/#85 create page
  front/public/icons/addFile.svg
  front/public/icons/audioPlay.svg
  front/public/icons/audioStop.svg
  front/src/app/create/[wordseed]/page.tsx
  front/src/app/create/_component/PostMedia/AudioPreview/AudioPreview.module.scss
  front/src/app/create/_component/PostMedia/AudioPreview/AudioPreview.tsx
  front/src/app/create/_component/PostMedia/PostMedia.module.scss
  front/src/app/create/_component/PostMedia/PostMedia.tsx
  front/src/app/create/_component/PostWrite/PostWrite.tsx
  front/src/app/create/_component/PostWrite/WriteBody/WriteBody.module.scss
  front/src/app/create/_component/PostWrite/WriteBody/WriteBody.tsx
  front/src/app/create/_component/PostWrite/WriteOption/WriteOption.module.scss
  front/src/app/create/_component/PostWrite/WriteOption/WriteOption.tsx
  front/src/app/create/_component/index.ts
  front/src/components/ContentCard/ContentCard.module.scss
  front/src/components/Icon/Icon.tsx
  front/src/components/Navbar/create-category/create-category.module.scss
  front/src/components/Navbar/create-category/create-category.tsx
  front/src/components/Navbar/create-navbar.tsx
  front/src/providers/react-native-listener.tsx
  front/src/stores/create-content.ts
Labels: 🌼Front, 😎Feat

#122 #104: postService 중 createComment 구현 및 commentService로 이주
  back/wordseed/src/main/java/com/spring/wordseed/config/WebConfig.java
  back/wordseed/src/main/java/com/spring/wordseed/controller/PostController.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/CommentRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/service/CommentService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/PostService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/CommentServiceImpl.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/PostServiceImpl.java
Labels: 🚀Back, 😎Feat, 🛠Fix

#123 #106: commentService 중 updateComment 구현
  back/wordseed/src/main/java/com/spring/wordseed/controller/PostController.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/CommentRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/service/CommentService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/CommentServiceImpl.java
Labels: 🚀Back, 😎Feat

#124 #107: commentService 중 deleteComment 구현
  back/wordseed/src/main/java/com/spring/wordseed/controller/PostController.java
  back/wordseed/src/main/java/com/spring/wordseed/service/CommentService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/CommentServiceImpl.java
Labels: 🚀Back, 😎Feat

#125 #108: PostLikedService 중 createLike구현
  back/wordseed/src/main/java/com/spring/wordseed/controller/PostController.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/PostLiked.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/PostLikedRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/service/PostLikedService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/PostLikedServiceImpl.java
Labels: 🚀Back, 😎Feat

#135 #134: Settings 페이지 구현
  front/src/app/settings/_component/child-nodes/alram-setting-node.tsx
  front/src/app/settings/_component/child-nodes/font-size-node.tsx
  front/src/app/settings/_component/child-nodes/index.ts
  front/src/app/settings/_component/child-nodes/log-out-button.tsx
  front/src/app/settings/_component/child-nodes/theme-node.tsx
  front/src/app/settings/_component/child-nodes/user-info-node.tsx
  front/src/app/settings/_component/settings-item.tsx
  front/src/app/settings/_component/settings-wrapper.tsx
  front/src/app/settings/_component/settings.module.scss
  front/src/app/settings/page.tsx
Labels: 🌼Front, 😎Feat

#137 #136: Wordseed & main 페이지 구현
  front/public/icons/sun.svg
  front/public/icons/water.svg
  front/src/app/feedlist/[wordseed]/feedlist.module.scss
  front/src/app/feedlist/[wordseed]/page.tsx
  front/src/app/page.tsx
  front/src/app/wordseed/[[...wordseed]]/page.tsx
  front/src/app/wordseed/[date]/page.tsx
  front/src/components/Icon/Icon.tsx
  front/src/components/Navbar/wordseed-navbar.tsx
  front/src/components/index.ts
  front/src/components/wordseed-main/wordseed-buttons.tsx
  front/src/components/wordseed-main/wordseed-container.tsx
  front/src/components/wordseed-main/wordseed-content.tsx
  front/src/components/wordseed-main/wordseed-main.tsx
  front/src/components/wordseed-main/wordseed.module.scss
  front/src/utils/getDateUtils.ts
Labels: 🌼Front, 😎Feat

#131 #119 말씨 등록/조회
  back/wordseed/src/main/java/com/spring/wordseed/controller/WordController.java
  back/wordseed/src/main/java/com/spring/wordseed/dto/in/CreateWordInDTO.java
  back/wordseed/src/main/java/com/spring/wordseed/dto/in/ReadWordInDTOs.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/Word.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/WordRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/service/WordService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/WordServiceImpl.java
Labels: 🚀Back, 😎Feat

#141 #97: 유저 조회
  back/wordseed/src/main/java/com/spring/wordseed/controller/UserController.java
  back/wordseed/src/main/java/com/spring/wordseed/dto/in/ReadUserInDTOs.java
  back/wordseed/src/main/java/com/spring/wordseed/dto/out/ReadUserInfoByIdOutDTO.java
  back/wordseed/src/main/java/com/spring/wordseed/dto/tool/UserDTO.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/UserRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/CustomUserRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/impl/CustomUserRepoImpl.java
  back/wordseed/src/main/java/com/spring/wordseed/service/UserService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/UserServiceImpl.java
Labels: 🚀Back, 😎Feat

#129 #93: 유저 탈퇴 API 구현
  back/wordseed/src/main/java/com/spring/wordseed/controller/UserController.java
  back/wordseed/src/main/java/com/spring/wordseed/dto/out/DeleteUserOutDTO.java
  back/wordseed/src/main/java/com/spring/wordseed/service/UserService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/UserServiceImpl.java
Labels: 🚀Back, 😎Feat

#130 #101: Spring, MySQL도커라이징
  back/wordseed/Dockerfile
  database/.gitignore
  database/env/.gitkeep
  database/mysql/Dockerfile
  docker-compose.yml
Labels: 🚀Back, 😎Feat

#120 #102: postService 중 deletePost 구현 및 updatePost 변경
  back/wordseed/src/main/java/com/spring/wordseed/controller/PostController.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/CustomPostRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/impl/CustomPostRepoImpl.java
  back/wordseed/src/main/java/com/spring/wordseed/service/PostService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/PostServiceImpl.java
Labels: 🚀Back, 😎Feat

#126 #110: postLikedService 중 deleteLike 구현
  back/wordseed/src/main/java/com/spring/wordseed/controller/PostController.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/BookMark.java
  back/wordseed/src/main/java/com/spring/wordseed/entity/PostLiked.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/PostLikedRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/CustomPostLikedRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/impl/CustomPostLikedRepoImpl.java
  back/wordseed/src/main/java/com/spring/wordseed/service/PostLikedService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/PostLikedServiceImpl.java
Labels: 🚀Back, 😎Feat

#128 #111: bookMarkService 중 create, delete 구현
  back/wordseed/src/main/java/com/spring/wordseed/controller/PostController.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/BookMarkRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/CustomBookMarkRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/impl/CustomBookMarkRepoImpl.java
  back/wordseed/src/main/java/com/spring/wordseed/service/BookMarkService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/BookMarkServiceImpl.java
Labels: 🚀Back, 🛠Fix

#143 142 back fix postserviceimpl 패키지 긴급 변경
  back/wordseed/src/main/java/com/spring/wordseed/WordseedApplication.java
  back/wordseed/src/main/java/com/spring/wordseed/service/PostService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/PostServiceImpl.java
Labels: 🚀Back, 🛠Fix

#145 #144: search page 구현
  front/src/app/search/[[...keyword]]/page.tsx
  front/src/app/search/_component/search-buttons.tsx
  front/src/app/search/_component/search-guidance.tsx
  front/src/app/search/_component/search-list.tsx
  front/src/app/search/_component/search.module.scss
  front/src/app/search/page.tsx
  front/src/components/Navbar/search-input/search-input.tsx
  front/src/stores/search-page.ts
Labels: 🌼Front, 😎Feat
