Repository Project-0123/0123, pull requests merged in 2024-03, with the labels that each got.

#153 #146 search page wordseed api 연결
  front/src/api/wordseed/get-wordseed-list.tsx
  front/src/api/wordseed/index.ts
  front/src/api/wordseed/types.ts
  front/src/app/page.tsx
  front/src/app/search/_component/search-guidance.tsx
  front/src/app/search/_component/search-list.tsx
  front/src/components/WordSeed/WordSeed.tsx
  front/src/components/WordSeedList/WordSeedList.module.scss
  front/src/components/WordSeedList/WordSeedList.tsx
  front/src/components/WordSeedList/component/no-data.tsx
  front/src/lib/axios.ts
  front/src/lib/react-query.ts
Labels: 🌼Front, 😎Feat

#156 #155 개별 작품 페이지 구현
  front/src/app/feed/[feed_id]/feed.module.scss
  front/src/app/feed/[feed_id]/page.tsx
  front/src/components/feed/feed.module.scss
  front/src/components/feed/feed.tsx
Labels: 🌼Front, 😎Feat

#158 Feat/#150 profile header api
  front/package-lock.json
  front/package.json
  front/src/api/user/get-user-info.ts
  front/src/api/user/types.ts
  front/src/app/page.tsx
  front/src/app/profile/[user_id]/layout.tsx
  front/src/app/profile/[user_id]/page.tsx
  front/src/providers/app.tsx
  front/src/utils/index.ts
  front/src/utils/react-query.ts
  front/tsconfig.json
Labels: 🌼Front, 😎Feat

#162 #160: react query 세팅 수정
  front/src/lib/react-query.ts
  front/src/providers/app.tsx
Labels: 🌼Front, 🛠Fix

#163 #157: feed detail GET 요청 구현
  front/src/api/feed/get-feed-detail.ts
  front/src/api/feed/index.ts
  front/src/api/feed/types.tsx
  front/src/app/feed/[feed_id]/layout.tsx
  front/src/app/feed/[feed_id]/page.tsx
  front/src/components/Button/bookmark-button.tsx
  front/src/components/Button/follow-button.tsx
  front/src/components/Button/like-button.tsx
  front/src/components/feed-interface/feed-interface-bottom.tsx
  front/src/components/feed-interface/feed-interface-top.tsx
  front/src/components/feed-interface/feed-interface.tsx
  front/src/components/feed/feed.tsx
  front/src/components/index.ts
  front/src/utils/getDateUtils.ts
Labels: 🌼Front, 😎Feat

#161 132 back feat readPosts API 분리 및 구현
  back/wordseed/src/main/java/com/spring/wordseed/controller/PostController.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/CustomPostRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/impl/CustomPostRepoImpl.java
  back/wordseed/src/main/java/com/spring/wordseed/service/PostService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/PostServiceImpl.java
Labels: 🚀Back, 😎Feat

#168 #154 search 페이지 작가 검색 api 구현
  front/src/api/author/get-author-list.tsx
  front/src/api/author/index.ts
  front/src/api/author/types.ts
  front/src/app/search/_component/index.ts
  front/src/app/search/_component/search-list.tsx
  front/src/app/search/page.tsx
  front/src/components/ArtistCardList/ArtistCardList.tsx
Labels: 🌼Front, 😎Feat

#167 #166: postService 하드 코딩 수정 및 목록조회시 상세조회dto로 조회
  back/wordseed/src/main/java/com/spring/wordseed/controller/PostController.java
  back/wordseed/src/main/java/com/spring/wordseed/dto/in/CreatePostInDTO.java
  back/wordseed/src/main/java/com/spring/wordseed/dto/out/ReadPostByPostIdOutDTOs.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/CustomPostRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/impl/CustomPostRepoImpl.java
  back/wordseed/src/main/java/com/spring/wordseed/service/PostService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/PostServiceImpl.java
  back/wordseed/src/main/resources/application.yml
Labels: 🚀Back, 😎Feat, 🛠Fix

#165 #147: Cors Mapping 추가
  back/wordseed/src/main/java/com/spring/wordseed/config/WebConfig.java
Labels: 🚀Back, 😎Feat

#170 #169: wordseedlist & artistcardlist 컴포넌트와 search 페이지 리팩토링
  front/src/app/search/_component/search-list.tsx
  front/src/components/ArtistCardList/ArtistCardList.tsx
  front/src/components/ArtistCardList/types.ts
  front/src/components/WordSeedList/WordSeedList.tsx
  front/src/components/WordSeedList/types.ts
Labels: 🌼Front, 😎Feat

#172 #171: search 페이지 중복 요청 처리
  front/src/app/search/_component/search-guidance.tsx
  front/src/app/search/_component/search-list.tsx
  front/src/lib/react-query.ts
Labels: 🌼Front, 😎Feat

#175 #150 refactor: 수정 - 리액트 쿼리 ssr 적용 및 프로필 헤더 api 연결 수정
  front/src/api/user/get-user-info.ts
  front/src/app/profile/[user_id]/layout.tsx
  front/src/app/profile/[user_id]/page.tsx
  front/src/app/profile/_component/ProfileCategory/ProfileCategory.tsx
  front/src/styles/fonts.ts
Labels: 🌼Front, 🛠Fix

#174 #148: Docker Spring 실행 코드 Volume 설정
  back/wordseed/Dockerfile
  back/wordseed/src/main/resources/application.yml
  docker-compose.yml
Labels: 🚀Back, 🛠Fix

#173 Feat: 추가 - 구독자, 관심작가 목록 조회 API [#139]
  back/wordseed/src/main/java/com/spring/wordseed/controller/UserController.java
  back/wordseed/src/main/java/com/spring/wordseed/dto/in/ReadFollowerInDTOs.java
  back/wordseed/src/main/java/com/spring/wordseed/dto/out/ReadFollowOutDTOs.java
  back/wordseed/src/main/java/com/spring/wordseed/dto/out/ReadUserOutDTOs.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/CustomUserRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/impl/CustomUserRepoImpl.java
  back/wordseed/src/main/java/com/spring/wordseed/service/UserService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/UserServiceImpl.java
Labels: 🚀Back, 😎Feat

#180 #179: wordseed 페이지 API 연결
  front/src/api/wordseed/get-wordseed.tsx
  front/src/api/wordseed/index.ts
  front/src/app/page.tsx
  front/src/components/WordSeed/WordSeed.tsx
  front/src/components/wordseed-main/wordseed-buttons.tsx
  front/src/components/wordseed-main/wordseed-content.tsx
  front/src/components/wordseed-main/wordseed-main.tsx
Labels: 🌼Front, 😎Feat

#182 #176 프로필 유저 팔로우 팔로잉 API 연결
  front/src/api/user/get-follow.ts
  front/src/api/user/get-user-api.ts
  front/src/api/user/get-user-info.ts
  front/src/api/user/index.ts
  front/src/app/profile/[user_id]/layout.tsx
  front/src/app/profile/[user_id]/page.tsx
  front/src/app/profile/_component/Header/Header.tsx
  front/src/app/search/_component/search-list.tsx
  front/src/components/ArtistCard/ArtistCard.tsx
  front/src/components/ContentCardList/ContentCardList.tsx
  front/src/lib/axios.ts
  front/src/lib/react-query.ts
Labels: 🌼Front, 😎Feat

#185 #183: postService method: query, mark 파라미터 제거
  back/wordseed/src/main/java/com/spring/wordseed/controller/PostController.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/CustomPostRepo.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/impl/CustomPostRepoImpl.java
  back/wordseed/src/main/java/com/spring/wordseed/service/PostService.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/PostServiceImpl.java
Labels: 🚀Back, 🛠Fix

#186 #181: feedlist 페이지 API 구현
  front/src/api/feed/get-feed-list.ts
  front/src/api/feed/index.ts
  front/src/api/feed/types.tsx
  front/src/app/feedlist/[word_id]/feedlist.module.scss
  front/src/app/feedlist/[word_id]/page.tsx
  front/src/app/feedlist/[wordseed]/page.tsx
Labels: 🌼Front, 😎Feat

#188 #184 Feat: ArtistCard follow API 연결
  front/src/api/author/get-author-list.tsx
  front/src/api/user/get-follow.ts
  front/src/components/ArtistCard/ArtistCard.tsx
  front/src/components/index.ts
Labels: 🌼Front, 😎Feat

#192 #191: postService: readPost 중 subscribe subquery 수정
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/impl/CustomPostRepoImpl.java
Labels: 🚀Back, 🛠Fix

#194 Feat/#151 profile post api
  front/src/api/feed/get-feed-api.ts
  front/src/api/feed/get-feed-list.ts
  front/src/api/feed/types.tsx
  front/src/app/feedlist/[word_id]/layout.tsx
  front/src/app/feedlist/[word_id]/page.tsx
  front/src/app/profile/[user_id]/layout.tsx
  front/src/app/profile/[user_id]/page.tsx
  front/src/app/profile/[user_id]/profile.module.scss
  front/src/app/profile/_component/ProfileCategory/ProfileCategory.tsx
  front/src/components/ContentCard/ContentCard.module.scss
  front/src/components/ContentCard/ContentCard.tsx
  front/src/components/ContentCardList/ContentCardList.tsx
  front/src/constants/feed-default.ts
Labels: 🌼Front, 😎Feat

#195 #152 feat: 구현 - profile feed 무한 스크롤 구현
  front/src/components/ContentCardList/ContentCardList.tsx
  front/src/components/comment/comment.module.scss
Labels: 🌼Front, 😎Feat

#197 #190: bookmark api 구현 및 swiper 슬라이드 수정
  front/src/api/feed/bookmark-api.ts
  front/src/api/feed/get-feed-list.ts
  front/src/api/feed/post-bookmark.ts
  front/src/api/feed/types.tsx
  front/src/app/feedlist/[word_id]/_component/feedlist.module.scss
  front/src/app/feedlist/[word_id]/_component/noData.tsx
  front/src/app/feedlist/[word_id]/_component/swiper-component.tsx
  front/src/app/feedlist/[word_id]/_component/types.ts
  front/src/app/feedlist/[word_id]/_component/utils/listener-util.ts
  front/src/app/feedlist/[word_id]/feedlist.module.scss
  front/src/app/feedlist/[word_id]/page.tsx
  front/src/components/Button/bookmark-button.tsx
  front/src/components/feed-interface/feed-interface-bottom.tsx
  front/src/components/feed-interface/feed-interface.tsx
  front/src/components/feed/feed.module.scss
  front/src/components/feed/feed.tsx
  front/src/components/filter/filter.tsx
  front/src/components/filter/sort-switch.tsx
  front/src/lib/react-query.ts
  front/src/stores/search-filter.ts
Labels: 🌼Front, 😎Feat

#198 Feat/#194 user info edit api
  front/src/api/user/get-follow.ts
  front/src/api/user/get-user-api.ts
  front/src/api/user/index.ts
  front/src/api/user/types.ts
  front/src/app/layout.tsx
  front/src/app/settings/_component/child-nodes/user-info-node.tsx
  front/src/app/settings/layout.tsx
  front/src/app/settings/page.tsx
  front/src/app/user-info/_component/info-item.tsx
  front/src/app/user-info/_component/static-info-item.tsx
  front/src/app/user-info/_component/user-info.module.scss
  front/src/app/user-info/_component/withdrawal.tsx
  front/src/app/user-info/layout.tsx
  front/src/app/user-info/page.tsx
  front/src/components/Navbar/user-info-navbar.tsx
  front/src/stores/user-info.ts
Labels: 🌼Front, 😎Feat

#206 #204: Swiper의 key값 수정
  front/src/app/feedlist/[word_id]/_component/swiper-component.tsx
  front/src/app/feedlist/[word_id]/page.tsx
Labels: 🌼Front, 🛠Fix

#207 #204: FeedList 팔로우 API 통신 및 관련 API 폴더 구조 변경
  front/src/api/feed/apis/bookmark-api.ts
  front/src/api/feed/apis/follow-api.ts
  front/src/api/feed/apis/get-feed-api.ts
  front/src/api/feed/apis/like-api.ts
  front/src/api/feed/get-feed-detail.ts
  front/src/api/feed/hooks/get-feed-list.ts
  front/src/api/feed/hooks/post-bookmark.ts
  front/src/api/feed/hooks/post-follow.ts
  front/src/api/feed/hooks/post-like.ts
  front/src/api/feed/index.ts
  front/src/api/feed/types.tsx
  front/src/app/feedlist/[word_id]/_component/swiper-component.tsx
  front/src/components/Button/bookmark-button.tsx
  front/src/components/Button/follow-button.tsx
  front/src/components/Button/like-button.tsx
  front/src/components/feed-interface/feed-interface-bottom.tsx
Labels: 🌼Front, 😎Feat

#210 #209: readComment 메서드 반환 DTO 중 userName 추가
  back/wordseed/src/main/java/com/spring/wordseed/dto/out/ReadCommentOutDTO.java
  back/wordseed/src/main/java/com/spring/wordseed/repo/custom/impl/CustomPostRepoImpl.java
Labels: 🚀Back, 🛠Fix

#212 refactor: 수정 - profile 카테고리 포스트타입 로직 수정
  front/src/components/ContentCardList/ContentCardList.tsx
Labels: 🌼Front, 🛠Fix

#216 #215: wordlist api 구현
  front/src/api/wordseed/get-wordseed-list.tsx
  front/src/api/wordseed/index.ts
  front/src/app/follow/[user_id]/layout.tsx
  front/src/app/follow/[user_id]/page.tsx
  front/src/app/wordlist/layout.tsx
  front/src/app/wordlist/page.tsx
  front/src/app/wordlist/wordlist.module.scss
  front/src/components/WordSeed/WordSeed.module.scss
Labels: 🌼Front, 😎Feat
