Repository Project-0123/0123, pull requests merged in 2024-05, with the labels that each got.

#225 #217 feadDetail 페이지 수정
  front/package-lock.json
  front/package.json
  front/src/api/feed/apis/get-feed-api.ts
  front/src/api/feed/hooks/post-bookmark.ts
  front/src/api/feed/hooks/post-follow.ts
  front/src/api/feed/hooks/post-like.ts
  front/src/api/feed/types.tsx
  front/src/app/feed/[feed_id]/layout.tsx
  front/src/app/feed/[feed_id]/page.tsx
  front/src/app/feedlist/[[...word_id]]/page.tsx
  front/src/app/profile/[user_id]/@feedDetail/(...)feed/[feed_id]/feed.module.scss
  front/src/app/profile/[user_id]/@feedDetail/(...)feed/[feed_id]/page.tsx
  front/src/app/profile/[user_id]/@feedDetail/default.tsx
  front/src/app/profile/[user_id]/layout.tsx
  front/src/app/profile/_component/Header/Header.tsx
  front/src/components/Button/bookmark-button.tsx
  front/src/components/Button/follow-button.tsx
  front/src/components/Button/like-button.tsx
  front/src/components/ContentCard/ContentCard.tsx
  front/src/components/ContentCardList/ContentCardList.tsx
  front/src/components/feed-interface/feed-interface-bottom.tsx
  front/src/components/feed-interface/feed-interface.tsx
  front/src/components/feed/feed.tsx
  front/src/hooks/useFeedProps.ts
  front/src/stores/feed-type.ts
Labels: 🌼Front, 🛠Fix

#230 #229: Icon 깜빡임 문제 해결
  front/src/components/Icon/Icon.tsx
Labels: 🌼Front, 🛠Fix

#232 #231 작품(text) POST API 연결
  front/src/api/feed/apis/post-feed-api.ts
  front/src/api/feed/hooks/post-feed.ts
  front/src/api/feed/types.tsx
  front/src/app/create/[word_id]/page.tsx
  front/src/app/create/_component/PostMedia/PostMedia.tsx
  front/src/app/create/_component/PostWrite/WriteBody/WriteBody.tsx
  front/src/app/create/_component/PostWrite/WriteOption/WriteOption.tsx
  front/src/app/page.tsx
  front/src/components/Button/create-feed-button.tsx
  front/src/components/Icon/Icon.tsx
  front/src/components/Navbar/create-category/create-category.tsx
  front/src/components/Navbar/create-navbar.tsx
  front/src/components/feed/feed.tsx
  front/src/components/wordseed-main/wordseed-buttons.tsx
  front/src/components/wordseed-main/wordseed-main.tsx
  front/src/stores/create-content.ts
Labels: 🌼Front, 😎Feat

#234 226 back fix post coment 자료형 변경
  .gitignore
  back/wordseed/src/main/java/com/spring/wordseed/entity/Post.java
  back/wordseed/src/main/java/com/spring/wordseed/service/impl/PostServiceImpl.java
Labels: 🛠Fix

#236 #233: 작품 DELETE API 연결
  front/public/icons/moreVert.svg
  front/src/api/feed/apis/delete-feed-api.ts
  front/src/api/feed/hooks/delete-feed.ts
  front/src/api/feed/hooks/get-feed-list.ts
  front/src/api/feed/types.tsx
  front/src/app/feedlist/[[...word_id]]/_component/swiper-component.tsx
  front/src/components/Button/more-vert-button.tsx
  front/src/components/Icon/Icon.tsx
  front/src/components/feed-interface/feed-interface-bottom.tsx
  front/src/components/feed-interface/feed-interface.module.scss
  front/src/components/feed-interface/pop-over.tsx
Labels: 🌼Front, 😎Feat, 🛠Fix

#240 #239: 작가명 버튼 밑줄 삭제
  front/src/components/feed-interface/feed-interface.module.scss
Labels: 🌼Front, 🛠Fix
